body{
    background-color: black;
}

.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: white;
    
}


.box-brown{
    background-color: brown;
}

.box-yellow{
    background-color: yellow;
}

.box-green{
    background-color: green;
}